{% load static %}
<header>
    <div class="container mx-auto flex justify-between items-center">
        <div>
            <a href="{% url 'core:home' %}"><img src="{% static 'img/icon.png' %}"></a>
        </div>
        <ul class="flex">
            {% if user.is_authenticated %}
                {% if user.is_superuser %}
                <li><a href="{% url 'admin:index' %}" class="nav-link">Admin Site</a></li>
                {% else %}
                <li><a href="" class="md:text-lg">Hello, <b>{{ user.nickname }}</b></a></li>
                {% endif %}
                <li><a href="{% url 'users:logout' %}" class="nav-link">Logout</a></li>
            {% else %}
            <li><a href="{% url 'users:signup' %}" class="nav-link">Sign Up</a></li>
            <li><a href="{% url 'users:login' %}" class="nav-link">Log In</a></li>
            {% endif %}
        </ul>
    </div>
</header>