<div class="grid grid-rows-2 md:grid-rows-1 md:grid-cols-2 gap-2 w-full">
    <a href="{% url 'users:google-login' %}{% if 'next' in request.GET %}?next={{ request.GET.next }}{% endif %}" class="btn text-gray-50 bg-red-500 flex items-center justify-center rounded-full">
        <i class="fa-brands fa-google mr-2 font-bold rounded-full text-red-600 bg-gray-50 p-2"></i> 구글 로그인
    </a>
    <a href="{% url 'users:kakao-login' %}{% if 'next' in request.GET %}?next={{ request.GET.next }}{% endif %}" class="btn text-yellow-800 bg-yellow-300 flex items-center justify-center rounded-full">
        <i class="fa-solid fa-comment mr-2 fa-lg"></i> 카카오 로그인
    </a>
</div>

<div class="flex items-center w-full my-5">
    <div class="h-px w-full bg-gray-400"></div>
    <span class="text-gray-600 font-medium mx-4 text-sm">or</span>
    <div class="h-px w-full bg-gray-400"></div>
</div>