@tailwind base;
@tailwind components;

body {
    @apply min-h-screen py-16 relative text-gray-600;
}

header {
    @apply h-16 py-3 px-3 fixed top-0 w-full text-white z-20 bg-stone-800;

    img {
        @apply h-10;
    }
    .nav-link {
        @apply text-gray-300 font-bold ml-5 inline-block my-2 lg:my-0;
    }
    .main-menu-btn .close {
        @apply hidden;
    }
    &.show{
        .menu-background {
            @apply block;
        }
        .main-menu-btn {
            .menu {
                @apply hidden;
            }
            .close{
                @apply block;
            }
        }
        .main-menu{
            @apply right-0;
        }
    }
}

footer {
    @apply absolute bottom-0 w-full p-3 bg-gray-100;
}

input,
textarea,
select {
    @apply rounded-sm py-2 font-light text-lg w-full text-left border border-gray-600 px-3;

    &:focus {
        @apply outline-none border-teal-500;
    }
}
hr {
    @apply my-4;
}

form {
    .input {
        @apply mb-3;

        &.has_error {
            input {
                @apply bg-red-200 border-gray-600;

                &:focus {
                    @apply border-gray-600;
                }
            }
        }
    }
}

a{
    &:hover{
        @apply text-teal-500;
    }
}

.btn {
    @apply text-center rounded-sm py-3 font-bold text-lg w-full;
}

@keyframes messageFadeIn {
    0% {
        opacity: 0;
        transform: translateY(0);
    }

    5% {
        opacity: 1;
        transform: translateY(100px);
    }

    95% {
        opacity: 1;
        transform: translateY(100px);
    }

    100% {
        opacity: 0;
        transform: translateY(-50px);
    }

}

.message-container{
    top:-60px;
    .message {
        animation: messageFadeIn 3s ease-in-out forwards;
    
        &.error {
            @apply bg-red-600;
        }
    
        &.info {
            @apply bg-blue-500;
        }
    
        &.success {
            @apply bg-green-500;
        }
    
        &.warning {
            @apply bg-yellow-400;
        }
    }
}

.category{
    .arrow{
        @apply transition-all duration-300 ease-linear;
    }
    ul {
        @apply transition-all duration-300 ease-linear py-0;
    }
    &.show{
        h3{
            .arrow{
                @apply rotate-180;
            }
        }
        ul {
            @apply py-1;
        }
    }
}



@tailwind utilities;