{% extends 'base.html' %}

{% block title %}{% if user.nickname %}{{ user.nickname }}{% else %}{{ user.email }}{% endif %}{% endblock %}


{% block content %}
<div class="w-full md:w-5/6 mx-auto">
    <div class="flex flex-col md:flex-row gap-4">
        <div class="basis-1/5 shrink-0">
            <div class="font-bold text-lg">이메일</div>
        </div>
        <div class="grow">
            <div class="rounded w-full shadow-md shadow-gray-400 p-6 flex flex-col lg:flex-row lg:items-center gap-4">
                <div class="shrink-0 basis-3/5 xl:basis-1/2">
                    <input value="{{ user.email }}" disabled />
                </div>
                <div class="text-right lg:text-left">
                    {% if user.email_verified %}
                    <p class="text-sm text-green-700 font-bold"><i class="fa-solid fa-circle-check"></i> email_verified</p>
                    {% else %}
                    <button class="email-verify-btn bg-gray-200 rounded px-3 py-1 font-bold text-sm">인증메일 보내기</button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <hr>
    {% if user.google_id or user.kakao_id %}
    <div class="flex flex-col md:flex-row gap-4">
        <div class="basis-1/5 shrink-0">
            <div class="font-bold text-lg">연결된 소셜</div>
        </div>
        <div class="grow">
            <div class="rounded w-full shadow-md shadow-gray-400 p-6 flex gap-8">
                {% if user.google_id %}
                <span class="text-gray-50 bg-red-500 rounded-full w-32 flex items-center justify-center">
                    <i class="fa-brands fa-google mr-2 font-bold rounded-full  p-2"></i> Google
                </span>
                {% endif %}
                {% if user.kakao_id %}
                <span class="text-yellow-800 bg-yellow-300 rounded-full w-32 flex items-center justify-center">
                    <i class="fa-solid fa-comment mr-2 fa-lg"></i> Kakao
                </span>
                {% endif %}
            </div>
        </div>
    </div>
    <hr>
    {% endif %}
    <div class="flex flex-col md:flex-row gap-4">
        <div class="basis-1/5 shrink-0">
            <div class="font-bold text-lg">닉네임 변경</div>
        </div>
        <div class="grow">
            <div class="rounded w-full shadow-md shadow-gray-400 p-6">
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="nickname" />
                    <div class="flex flex-col lg:flex-row gap-4 lg:items-center">
                        <div class="shrink-0 basis-3/5 xl:basis-1/2">
                            {{ nickname_form.nickname }}
                        </div>
                        <div class="text-right lg:text-left">
                            <button class="bg-gray-200 rounded px-3 py-1 font-bold text-sm">닉네임 변경</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <hr>
    {% if user.has_usable_password %}
    <div class="flex flex-col md:flex-row gap-4">
        <div class="basis-1/5 shrink-0">
            <div class="font-bold text-lg">비밀번호 변경</div>
        </div>
        <div class="grow">
            <div class="rounded w-full shadow-md shadow-gray-400 p-6 flex flex-col gap-2">
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="password" />
                    <div class="flex flex-col gap-2">
                        {% for field in password_form %}
                        {{ field }}
                        {% endfor %}
                        <div class="text-right">
                            <button class="bg-gray-200 rounded px-3 py-1 font-bold text-sm">비밀번호 변경</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endif %}
</div>



<script>
    (() => {
        const email_verify_btn = document.querySelector('.email-verify-btn');
        if (email_verify_btn) {
            email_verify_btn.addEventListener('click', (e) => {
                const btn = e.target;
                btn.innerText = '이메일 발송중..';
                btn.setAttribute('disabled', '')
                btn.style.backgroundColor = "Orange"
                btn.style.color = "white";
                fetch("{% url 'users:send-verification' %}")
                    .then((response) => {
                        btn.style.backgroundColor = "MediumSeaGreen";
                        btn.style.color = "white";
                        btn.innerText = "이메일 발송 완료";
                    })
                    .catch((error) => {
                        console.log(error);
                        btn.innerText = "에러발생";
                        btn.style.backgroundColor = "red";
                        btn.style.color = "white";
                    });
            });
        }
    })();
</script>
{% endblock %}