{% extends 'base.html' %}

{% block title %}Log In{% endblock %}

{% block content %}

    <div class="w-full md:w-3/4 xl:w-1/2 mx-auto shadow-md shadow-gray-400 p-6 mt-5">
        {% include 'partials/social_login.html' %}
        {% include 'mixins/auth/auth_form.html' with form=form cta="회원가입" %}

        <div class="mt-5">
            <span class="mr-2">계정이 이미 있으신가요?</span>
            <a href="{% url 'users:login' %}" class="text-teal-500 font-medium">로그인</a>
        </div>
    </div>

{% endblock %}