{% extends 'base.html' %}

{% block title %}Log In{% endblock %}

{% block content %}

    <div class="w-full md:w-2/3 lg:w-1/2 mx-auto border p-6 border-gray-400 mt-5">
        {% include 'partials/social_login.html' %}
        {% include 'mixins/auth/auth_form.html' with form=form cta="Sign Up" %}

        <div class="mt-5">
            <span class="mr-2">Already have an account?</span>
            <a href="{% url 'users:login' %}" class="text-teal-500 font-medium">Log In</a>
        </div>
    </div>

{% endblock %}